snippet pygitignore
# Python compiled files
__pycache__
*.pyc

# Python packages
*.egg-info
dist
build

# Tests
.cache
.coverage
htmlcov
endsnippet

snippet pyenv
deactivate-env () {
  unalias test_ 2> /dev/null
}

alias test_='python -m unittest'
endsnippet

snippet pytestenv
deactivate-env () {
  unalias test_ 2> /dev/null
}

alias test_='py.test --tb=short --continue-on-collection-errors'
endsnippet
